//自定义字体
@font-face {
  font-family: 'Alimama ShuHeiTi';
  src: url('@/assets/font/AlimamaShuHeiTi-Bold.ttf');
}

//自定义字体
@font-face {
  font-family: 'Alimama PuHuiTi';
  src: url('@/assets/font/Alibaba_PuHuiTi.ttf');
}

//自定义字体
@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('@/assets/font/YouSheBiaoTiHei.ttf');
}