@font-face {
  font-family: DIN-Bold;
  src: url('@static/font/DIN-Bold.otf'),
}
      
@font-face {
  font-family: D-DIN;
  src: url('@static/font/D-DIN.otf'),
}
      
@font-face {
  font-family:PingFangSC-Regular;
  src: url('@static/font/PingFang-SC-Regular.ttf'),
}
      
@font-face {
  font-family: PingFang SC;
  src: url('@static/font/PingFang SC.ttf'),
}      
