@font-face {
  font-family: "iconfont-screen"; /* Project id 4736650 */
  src: url('iconfont.woff2?t=1734682486095') format('woff2'),
       url('iconfont.woff?t=1734682486095') format('woff'),
       url('iconfont.ttf?t=1734682486095') format('truetype');
}

.iconfont-screen {
  font-family: "iconfont-screen" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-screen-xiajiang1:before {
  content: "\ea1a";
}

.icon-screen-dangqianzengrong:before {
  content: "\ea13";
}

.icon-screen-dianwangcechuneng-1:before {
  content: "\ea14";
}

.icon-screen-dianwangcechuneng1:before {
  content: "\ea15";
}

.icon-screen-tiaojiefuhe1:before {
  content: "\ea16";
}

.icon-screen-canyuxianlu:before {
  content: "\ea17";
}

.icon-screen-dingwei2:before {
  content: "\ea18";
}

.icon-screen-dangrifuhequxian:before {
  content: "\ea19";
}

.icon-screen-xianlu:before {
  content: "\ea06";
}

.icon-screen-zhengzaitiaojie:before {
  content: "\ea07";
}

.icon-screen-lishiyougong1:before {
  content: "\ea08";
}

.icon-screen-a-lishijilu1:before {
  content: "\ea09";
}

.icon-screen-shijian:before {
  content: "\ea0a";
}

.icon-screen-jiantou2xia:before {
  content: "\ea0b";
}

.icon-screen-quyuketiaonengli:before {
  content: "\ea0c";
}

.icon-screen-a-liebiao1:before {
  content: "\ea0d";
}

.icon-screen-jiantou2shang:before {
  content: "\ea0e";
}

.icon-screen-dingwei1:before {
  content: "\ea0f";
}

.icon-screen-tiaojiexianlu:before {
  content: "\ea10";
}

.icon-screen-tiaojiequyu:before {
  content: "\ea11";
}

.icon-screen-tiaojiemubiao:before {
  content: "\ea12";
}

.icon-screen-weiwangqun1:before {
  content: "\ea00";
}

.icon-screen-qishishijian:before {
  content: "\ea01";
}

.icon-screen-zhuoyangchuneng:before {
  content: "\ea02";
}

.icon-screen-jiantouxia:before {
  content: "\ea03";
}

.icon-screen-shuangtannengyuanjuheshang1:before {
  content: "\ea04";
}

.icon-screen-zhongzhishijian:before {
  content: "\ea05";
}

.icon-screen-xinxingfuheguanlixitong1:before {
  content: "\e9ff";
}

.icon-screen-youcejiantou:before {
  content: "\e9fe";
}

.icon-screen-lishiyougong:before {
  content: "\e9fa";
}

.icon-screen-xiajiang:before {
  content: "\e9fb";
}

.icon-screen-zuocejiantou:before {
  content: "\e9fc";
}

.icon-screen-jiantou:before {
  content: "\e9fd";
}

.icon-screen-xialajiantou:before {
  content: "\e9f9";
}

.icon-screen-shidu:before {
  content: "\e9f7";
}

.icon-screen-wendu:before {
  content: "\e9f8";
}

.icon-screen-sanjiao:before {
  content: "\e60e";
}

.icon-screen-tuichu:before {
  content: "\e9b9";
}

.icon-screen-daohang:before {
  content: "\e9cc";
}

.icon-screen-taiyang:before {
  content: "\e9ec";
}

.icon-screen-dangqianfuzaishuai:before {
  content: "\e9ed";
}

.icon-screen-zhuanbian:before {
  content: "\e9ee";
}

.icon-screen-zongtiaojienengli:before {
  content: "\e9ef";
}

.icon-screen-kongtiao:before {
  content: "\e9f0";
}

.icon-screen-xinxingfuheguanlixitong:before {
  content: "\e9f1";
}

.icon-screen-ziyuanchi:before {
  content: "\e9f2";
}

.icon-screen-shuangtannengyuanjuheshang:before {
  content: "\e9f3";
}

.icon-screen-shishifuhe:before {
  content: "\e9f4";
}

.icon-screen-peidianxianlu:before {
  content: "\e9f5";
}

.icon-screen-shudianxianlu:before {
  content: "\e9f6";
}

.icon-screen-guangfu:before {
  content: "\e9de";
}

.icon-screen-gongbian:before {
  content: "\e9df";
}

.icon-screen-biandianzhan:before {
  content: "\e9db";
}

.icon-screen-juheshang:before {
  content: "\e9e0";
}

.icon-screen-dianwangguimo:before {
  content: "\e9e1";
}

.icon-screen-zhongyayonghu:before {
  content: "\e9d9";
}

.icon-screen-ketiaojieqiye:before {
  content: "\e9e2";
}

.icon-screen-zuigaofuhe:before {
  content: "\e9e3";
}

.icon-screen-dingwei:before {
  content: "\e9e4";
}

.icon-screen-weiwang:before {
  content: "\e9e5";
}

.icon-screen-diyayonghu:before {
  content: "\e9e6";
}

.icon-screen-dianwangcechuneng:before {
  content: "\e9e7";
}

.icon-screen-weiwangqun:before {
  content: "\e9e8";
}

.icon-screen-tiaojiefuhe:before {
  content: "\e9e9";
}

.icon-screen-chongdianzhuang:before {
  content: "\e9ea";
}

.icon-screen-ketiaoziyuan:before {
  content: "\e9eb";
}

.icon-screen-tiaojieyonghu:before {
  content: "\e9dd";
}

.icon-screen-chaifa:before {
  content: "\e9da";
}

.icon-screen-chuneng:before {
  content: "\e9dc";
}

